/*webkit-sassui-justify-list Start*/
/*black Start*/
/*black End*/
/*calc-percent Start*/
/*calc-percent End*/
/*debug Start*/
/*debug End*/
/*first Start*/
/*first End*/
/*last Start*/
/*last End*/
/*purge Start*/
/*purge End*/
/*remove-duplicates Start*/
/*remove-duplicates End*/
/*strip-units Start*/
/*strip-units End*/
/*webkit-sassui-justify-list End*/
* {
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

h2 {
  margin: 20px 0 10px;
  text-align: center;
}

.wrapper {
  outline: 1px solid #f00;
  width: 800px;
  margin: 0 auto;
}

.wrapper .item,
.wrapper .dc-item {
  border: 2px solid #ccc;
  padding: 10px;
}

.blank-100 {
  height: 100px;
}

.justify-list-demo {
  width: 500px;
  overflow: hidden;
  height: 220px;
}

.justify-list-demo > .item {
  box-sizing: border-box;
  width: 120px;
  height: 80px;
  margin-right: 6.66667px;
  float: left;
}

.justify-list-demo > .item:nth-child(4n) {
  margin-right: 0;
}

.justify-list-demo > .item {
  margin-bottom: 60px;
}

.justify-list-demo2 {
  width: 500px;
  overflow: hidden;
}

.justify-list-demo2 > .item {
  box-sizing: border-box;
  width: 120px;
  height: 50px;
  margin-right: 70px;
  float: left;
}

.justify-list-demo2 > .item:nth-child(3n) {
  margin-right: 0;
}

.justify-list-demo2 > .item {
  margin-bottom: 10px;
}

.justify-list-demo3 {
  width: 30rem;
  overflow: hidden;
  height: 16rem;
}

.justify-list-demo3 > .item {
  box-sizing: border-box;
  width: 8rem;
  height: 4rem;
  margin-right: 3rem;
  float: left;
}

.justify-list-demo3 > .item:nth-child(3n) {
  margin-right: 0;
}

.justify-list-demo3 > .item {
  margin-bottom: 2rem;
}

.justify-list-demo4 {
  width: 36rem;
  overflow: hidden;
  height: 16rem;
}

.justify-list-demo4 .dc-item {
  box-sizing: border-box;
  width: 6rem;
  height: 3rem;
  margin-right: 1.5rem;
  float: left;
}

.justify-list-demo4 .dc-item:nth-child(5n) {
  margin-right: 0;
}

.justify-list-demo4 .dc-item {
  margin-bottom: 3.5rem;
}
