@import "../dist/webkit-sassui-justify-list.scss";
*{margin:0;padding:0;-webkit-margin-before:0;-webkit-margin-after:0;}
h2{
  margin: 20px 0 10px;
  text-align: center;
}
.wrapper{
  outline:1px solid #f00;
  width:800px;
  margin:0 auto;
}
.wrapper .item{
  border:2px solid #ccc;
  padding:10px;
  // min-height: 100px;
}

.justify-list-demo{
  //You know the line count:
  @include webkit-sassui-justify-list(500px,220px,120px,80px,4,2);
}

.justify-list-demo2{
  //You don't care the line count:
  @include webkit-sassui-justify-list(500px,220px,120px,50px,3);
  >.item{
    margin-bottom: 10px;
  }
}


.justify-list-demo3{
  //You don't care the line count:
  @include webkit-sassui-justify-list(30rem,16rem,8rem,4rem,3,3);
  >.item{
    // margin-bottom: 10px;
  }
}
