@import "node_modules/@jswork/wsui-functions/dist/index.scss";
@import "../dist/index.scss";

h2 {
  margin: 20px 0 10px;
  text-align: center;
}
.container {
  width:1200px;
  margin: 0 auto;
  .is-item {
    min-height: 100px;
    margin-bottom: 14px;
    background: #eee;
  }
  [class^="list"] {
    border: 1px solid #000;
    margin: 0 auto 20px;
  }
}

.list1 {
  margin-bottom: 20px;
  @include wsui-justify-list(1000px, 220px, 4) {
    background: #ddd;
  }
}

.list2 {
  margin-bottom: 20px;
  @include wsui-justify-list(100%, 24%, 4) {
    background: #f60;
  }
}
