/*!
 * name: @jswork/wsui-justify-list
 * description: wsui module for negative margin list.
 * homepage: https://github.com/afeiship/wsui-justify-list
 * version: 1.0.0
 * date: 2021-01-14 23:30:03
 * license: MIT
 */
/*wsui-justify-list Start*/
/*!
 * name: @jswork/wsui-functions
 * description: Webkit sass functions.
 * homepage: https://github.com/afeiship/wsui-functions
 * version: 1.0.4
 * date: 2020-12-23 10:05:24
 * license: MIT
 */
/*last Start*/
/*last End*/
/*dynamic-text-color Start*/
/*dynamic-text-color End*/
/*range Start*/
/*range End*/
/*rempx Start*/
/*rem End*/
/*remove-duplicates Start*/
/*remove-duplicates End*/
/*strip-units Start*/
/*strip-units End*/
/*map-deep-get Start*/
/*map-deep-get End*/
/*wsui-justify-list End*/
h2 {
  margin: 20px 0 10px;
  text-align: center;
}

.wrapper {
  outline: 1px solid #f00;
  width: 800px;
  margin: 0 auto;
}

.wrapper .is-item,
.wrapper .dc-item {
  border: 2px solid #ccc;
  padding: 10px;
}

.blank-100 {
  height: 100px;
}

.justify-list-demo {
  width: 500px;
  overflow: hidden;
  height: 220px;
}

.justify-list-demo > .is-item {
  float: left;
  box-sizing: border-box;
  width: 120px;
  height: 80px;
  margin-right: 6.66667px;
}

.justify-list-demo > .is-item:nth-child(4n) {
  margin-right: 0;
}

.justify-list-demo > .is-item {
  margin-bottom: 60px;
}

.justify-list-demo2 {
  width: 500px;
  overflow: hidden;
}

.justify-list-demo2 > .is-item {
  float: left;
  box-sizing: border-box;
  width: 120px;
  height: 50px;
  margin-right: 70px;
}

.justify-list-demo2 > .is-item:nth-child(3n) {
  margin-right: 0;
}

.justify-list-demo2 > .is-item {
  margin-bottom: 10px;
}

.justify-list-demo3 {
  width: 30rem;
  overflow: hidden;
  height: 16rem;
}

.justify-list-demo3 > .is-item {
  float: left;
  box-sizing: border-box;
  width: 8rem;
  height: 4rem;
  margin-right: 3rem;
}

.justify-list-demo3 > .is-item:nth-child(3n) {
  margin-right: 0;
}

.justify-list-demo3 > .is-item {
  margin-bottom: 2rem;
}

.justify-list-demo4 {
  width: 36rem;
  overflow: hidden;
  height: 16rem;
}

.justify-list-demo4 .dc-item {
  float: left;
  box-sizing: border-box;
  width: 6rem;
  height: 3rem;
  margin-right: 1.5rem;
}

.justify-list-demo4 .dc-item:nth-child(5n) {
  margin-right: 0;
}

.justify-list-demo4 .dc-item {
  margin-bottom: 3.5rem;
}
