@import "../dist/index.scss";

h2 {
  margin: 20px 0 10px;
  text-align: center;
}
.wrapper {
  outline: 1px solid #f00;
  width: 800px;
  margin: 0 auto;
}
.wrapper .is-item,
.wrapper .dc-item {
  border: 2px solid #ccc;
  padding: 10px;
  // min-height: 100px;
}

.blank-100 {
  height: 100px;
}

.justify-list-demo {
  //You know the line count:
  @include wsui-justify-list(500px, 220px, 120px, 80px, 4, 2);
}

.justify-list-demo2 {
  //You don't care the line count:
  @include wsui-justify-list(500px, 220px, 120px, 50px, 3);
  > .is-item {
    margin-bottom: 10px;
  }
}

.justify-list-demo3 {
  //You don't care the line count:
  @include wsui-justify-list(30rem, 16rem, 8rem, 4rem, 3, 3);
  > .is-item {
    // margin-bottom: 10px;
  }
}

.justify-list-demo4 {
  //You don't care the line count:
  @include wsui-justify-list(36rem, 16rem, 6rem, 3rem, 5, 3, ".dc-item");
  .dc-item {
    // margin-bottom: 10px;
  }
}
