/*webkit-sassui-justify-list Start*/
@mixin webkit-sassui-justify-list($inWidth,$inHeight,$inItemWidth,$inItemHeight,$inCount,$inLineCount:NONE,$inItemPrefix:'.item') {
  $gap-width:($inWidth - $inItemWidth*$inCount)/($inCount - 1);


  width:$inWidth;
  height:$inHeight;
  overflow: hidden;

  > #{$inItemPrefix} {
    box-sizing: border-box;
    width: $inItemWidth;
    height:$inItemHeight;
    margin-right: $gap-width;
    &:nth-child(#{$inCount}n){
      margin-right: 0;
    }
    float: left;
  }

  @if $inLineCount!=NONE {
    $gap-height:($inHeight - $inItemHeight*$inLineCount)/($inLineCount - 1);
    > #{$inItemPrefix} {
      margin-bottom: $gap-height;
    }
  }

}
/*webkit-sassui-justify-list End*/
